@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-image: url(img/asdasd.png);
    background-repeat: repeat;
}

.main{
    position: absolute;
    left: 33%;
    top: 10%;
    border: none;
    height: 600px;
    width: 500px;
    background-color: white;
    border-radius: 40px;
}

.inputat{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
    margin-top: 20px;
}

input{
    height: 35px;
    width: 300px;
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid #79b6f2;
}

button{
    height: 45px;
    width: 200px;
    background-color: #79b6f2;
    border: none;
    color: whitesmoke;
    border-radius: 1px;
    cursor: pointer;
    position: absolute;
    left: 29%;
    top: 63%;
    border-radius: 30px;
}

p{
    position: absolute;
    left: 23%;
    top: 75%;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
}

img{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

@media screen and (max-width: 1024px){
    body{
        background-color: #D3D3D3;
        background-image: none;
    }
    .main{
        position: absolute;
        top: 25%;
        left: 25%;
        height: 800px;
        width: 500px;
    }

    button{
        height: 60px;
        width: 300px;
        background-color: #79b6f2;
        border: none;
        color: whitesmoke;
        border-radius: 1px;
        cursor: pointer;
        position: absolute;
        left: 15%;
        top: 53%;
        border-radius: 30px;
    }

    input{
        height: 50px;
        width: 300px;
        margin-top: 30px;
        border: none;
        border-bottom: 2px solid #79b6f2;
    }

    p{
        position: absolute;
        left: 15%;
        top: 65%;
        font-family: 'Montserrat', sans-serif;
    }
}